ansiterm==1.1
contourpy==1.1.0
cycler==0.11.0
Deprecated==1.2.14
fonttools==4.40.0
future==0.18.3
graph-tools==1.11
graphtools==1.5.3
joblib==1.3.1
kiwisolver==1.4.4
matplotlib==3.7.2
networkx==3.1
ntc-templates==3.5.0
numpy==1.25.0
packaging==23.1
perlcompat==1.1
Pillow==10.0.0
py4j==0.10.9.7
PyGSP==0.5.1
pyparsing==3.0.9
Pytess==1.0.0
python-dateutil==2.8.2
scikit-learn==1.3.0
scipy==1.11.1
scrapli==2023.1.30
six==1.16.0
tasklogger==1.2.0
tbdump==1.4
textfsm==1.1.3
threadpoolctl==3.1.0
wrapt==1.15.0
